# pip install -U -r requirements.txt
numpy
seaborn
scipy
scikit-learn
streamlit
streamlit_chat
pandas
pymystem3
pyTelegramBotAPI
pickle5
matplotlib
mysql-connector-python
tqdm
torch
torchvision
transformers
nltk
