# pip install -U -r requirements.txt
numpy
scipy
scikit-learn
streamlit
pandas
pymystem3
pyTelegramBotAPI
pickle5
matplotlib
mysql-connector-python
tqdm
torch
torchvision
transformers
nltk
